<div class="row">
    <div class="col-md-6 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
              <!--   <i class="icon-user font-green"</i> -->
                    <span class="caption-subject bold uppercase"> Update User Info</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form"  ng-submit="formSubmit()">
                    <div class="form-body">
                     <div class="form-group">
                            <label>User Name</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                <i class="icon-user" ></i>
                                </span>
                                <input ng-model="new_user.username"type="text" class="form-control" placeholder="User Name"> </div>
                        </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Email Address" ng-model="new_user.email"> </div>
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select id="status" class="form-control" name="status" ng-model="new_user.status" required ng-options="trade.value as trade.text for trade in [{text: 'Active', value:true},{text: 'Inactive', value: false},{text: 'Delete', value:'delete'}]">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                     <i class="fa fa-phone"></i> 
                                </span>
                                <input type="text" class="form-control" placeholder="Phone number" ng-model="new_user.mobile"> </div>
                        </div>
                    
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn red">Submit</button>
                        <button type="button" href ui-sref="users" class="btn default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        
      
    </div>
    
</div>